<h2>Current position of ToyRobot </h2>
<div style="margin-top:18px;">
  <h4><%= "X = #{@toy_robot.position_x}, Y = #{@toy_robot.position_y}, Direction = #{@toy_robot.direction}" %></h4>
</div>

<div style="margin-top:18px;"><%= link_to 'Home', root_path %></div>
